extends layout

block content
  section(style='margin-top: 0')
    div.club-list-hero
      div
        div.club-list-hero__badge
          h5 Clubs
        div.club-list-hero__description
          h4 Create or Join Clubs to talk about the book you all enjoy!
        div.club-list-hero__create
          a.btn.btn__primary(href='/clubs/create') Create
        div.club-list-hero__line
      div
        div.club-list-hero__image-container
          img(src='/public/images/club_hero.png')
    div.club-list
      h4 Clubs
      div.club-list__book-categories
        each club in clubs
          a.club-list__card(href=club.url)
            h6= club.name
            div.card-stats
              div
                i.fa-solid.fa-comments
                if club.thread_count
                  span #{club.thread_count} #{club.thread_count > 1 ? 'Threads' : 'Thread'}
                else
                  span 0 Thread
              div
                i.fa-solid.fa-user-group
                if club.member_count
                  span #{club.member_count} #{club.member_count > 1 ? 'Members' : 'Member'}
                else
                  span 0 Member
              div
                i.fa-solid.fa-calendar
                span= club.createdAt_formatted
        else
          h5 No available clubs

