extends layout

block content
  section.club-detail-section
    div.club-hero
      div.club-hero__title
        h4= club.name
      div.club-hero__stats
        div
          i.fa-solid.fa-comments
          if club.thread_count
            p #{club.thread_count} #{club.thread_count > 0 ? 'Threads' : 'Thread'}
          else
            p 0 Thread
        div
          i.fa-solid.fa-user-group
          if club.member_count
            p #{club.member_count} #{club.member_count > 0 ? 'Members' : 'Member'}
          else
            p 0 Member
        div
          i.fa-solid.fa-calendar
          p= club.createdAt_formatted
    div.club-threads    
      div.club-threads__title
        h5 Threads
        a.btn.btn__primary(href=`${club.url}/threads/create`) Create Thread
      div.club-threads__cards
        each thread in threads
          a(href=thread.url).thread-card
            div.thread-card__title
              h6= thread.title
            div.thread-card__description
              p= thread.description
            div.thread-card__stats
              div
                i.fa-solid.fa-comment
                if thread.comment_count
                  span #{thread.comment_count} #{thread.comment_count > 1 ? 'Comments' : 'Comment'}
                else
                  span 0 Comment
              div
                i.fa-solid.fa-calendar
                span= thread.createdAt_formatted
    div.club-buttons
      a.btn.btn__danger(href=`${club.url}/delete`) Delete Club
      a.btn.btn__primary(href=`${club.url}/update`) Update Club





