extends layout

block content
  section
    div.club-list-hero
      div
        div.club-list-hero__badge
          h5 Clubs
        div.club-list-hero__description
          h4 Join Clubs to talk about the book you all enjoy!
        div.club-list-hero__line
      div
        div.club-list-hero__image-container
          img(src='/public/images/club_hero.png')
    div.club-list
      h4 Clubs
      each book in Object.keys(bookCategory)
        div.club-list__book-category
          h5= book
          each club in bookCategory[book]
            div.club-list__cards
              a.club-list__card(href=club.url)
                h6= club.name
                div.card-stats
                  div
                    i.fa-solid.fa-comments
                    if club.thread_count
                      span #{club.thread_count} #{club.thread_count > 1 ? 'Threads' : 'Thread'}
                    else
                      span 0 Thread
                  div
                    i.fa-solid.fa-user-group
                    if club.member_count
                      span #{club.member_count} #{club.member_count > 1 ? 'Members' : 'Member'}
                    else
                      span 0 Member
                  div
                    i.fa-solid.fa-calendar
                    span June 22, 2022


