extends layout

block content
  div.hero 
    div.hero__left
      div.hero__info
        h1.hero__title Read, Create, and Build a Community!
        p.hero__description Share your creative works to everyone, and get paid by doing so! Build a community out of it and have fun reading together!
      div.hero__buttons
        a.btn.btn__primary(href='/create') Create
        a.btn.btn__transparent(href='/books') Browse
    div.hero__right
      img(src='/public/images/reading_hero.png')
  section.new-releases
    h5 New Releases
    if book_list
      div.books
        each book in book_list
          div(id=book._id).book
            div.book__image-container
              a(href=book.url)
                img(src=book.photoURL)
            div.book__top
              div
                a(href=book.author.url)
                  p= book.author.name
              div
                i.fa-regular.fa-money-bill-1
                p #{book.price}$
            div.book__body
              a(href=book.url)
                h6= book.title
            div.book__bottom
              if book.chapter_count
                i.fa-solid.fa-book
                p #{book.chapter_count} #{book.chapter_count > 1 ? 'Chapters' : 'Chapter'}
              else
                i.fa-solid.fa-book
                p 0 Chapter

    else 
      h6(style='text-align: center; margin-top: 2rem') No books available
