extends layout

block content
  h4= title
  section(style='margin-top: 0')
    form.form.form-thread(action='' method='POST')
      label.form-control
        p Title
        input(type='text' name='title' placeholder='Thread Title' value=(thread===undefined ? '' : thread.title) maxLength='50')
        if errors
          - var error = errors.find(err => err.param === 'title')
          if error
            p.error-message= error.msg
      label.form-control
        p Description
        textarea.text(name='description' placeholder='Describe what the thread is all about' maxLength='500') #{thread===undefined ? '' : thread.text}
        if errors
          - var error = errors.find(err => err.param === 'description')
          if error
            p.error-message= error.msg
      label.form-control
        if isUpdate
          p Admin Password
          input(type='password' name='password')
          if invalidPass
            p.error-message= invalidPass.msg

      button.btn.btn__primary(type='submit' style='padding: 0.3rem 2rem; font-size: 24px') Submit
      

